.image {
    max-width: 75%;
     height: auto;
     background-color: aqua;
     border-radius: 50;
 }
 .chic {
     width: 30%;
 }
  
 .chicm {
     max-width: 30%;
 }
 
 .chicp3 {
     max-width: 30%;
     
 
 }